<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>B.S.C.Team - CarService</title>

<!-- Link To Base CSS -->
	<th:block th:insert="~{/admin/component/_linkCSS :: cssLinks}" />

<!-- Link To Account CSS -->
<link rel="stylesheet" th:href="@{/css/Account_MAN.css}">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
<style type="text/css">
.text-danger {
	font-size: 15px;
}
</style>
</head>


<body >
	<!-- Start Header -->
	<nav th:replace="~{/admin/component/_header :: nav}" ></nav>
	<!-- End Header -->

	<main style="grid-template-columns: 16rem auto 0;">
		<!-- Start Menu Aside -->
		<aside th:replace="~{/admin/component/_menu :: aside}" ></aside>
		<!-- End Menu Aside -->

		<section class="middle">
          
            <!--from-->
          <form th:action="@{/account/create}" th:object=${users} th:method="POST" enctype="multipart/form-data" th:modelAttribute="users">

            <div class="px-4 p-3">
                <div class="row">
                    <div class="col-5">
                        <button  class="btn btn-info text-white">Thêm mới</button>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-12">
                        <img src="" alt="">
                    </div>
                    <!--row1-->
                    
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Tên tài khoản</label>
                        </div>
                        <div class="col-auto">
                            <input  th:field="*{user_names}" class="form-control"/>
                        </div>
                        <small class="form-text text-danger" th:errors="*{user_names}"></small>
                    </div>
                    <div class="col-3">

                        <div class="row g-2">
                            <div class="col-md">
                                <div class="col-auto">
                                    <label class="col-form-label">Tên</label>
                                </div>
                                <div class="col-auto">
                                    <input th:field="*{first_names}" class="form-control"/>
                                </div>
                                <small class="form-text text-danger" th:errors="*{first_names}"></small> 
                            </div>
                            <div class="col-md">
                                <div class="col-auto">
                                    <label class="col-form-label">Họ</label>
                                </div>
                                <div class="col-auto">
                                    <input th:field="*{last_names}"  class="form-control"/>
                                </div>
                              <small class="form-text text-danger" th:errors="*{last_names}"></small>
                            </div>
                        </div>


                    </div>

                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Email</label>
                        </div>
                        <div class="col-auto">
                            <input  th:field="*{email}"  class="form-control"/>
                        </div>
                       <small class="form-text text-danger" th:errors="*{email}"></small> 
                    </div>
                    <!--row2-->
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Mật khẩu</label>
                        </div>
                        <div class="col-auto">
                            <input th:field="*{pass_words}"   class="form-control"/>
                        </div>
                        <small class="form-text text-danger" th:errors="*{pass_words}"></small> 
                    </div>
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Số điện thoại</label>
                        </div>
                        <div class="col-auto">
                            <input  th:field="*{phones}" class="form-control" type="number"/>
                        </div>
                        <small class="form-text text-danger" th:errors="*{phones}"></small> 
                    </div>
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Địa chỉ</label>
                        </div>
                        <div class="col-auto">
                            <input th:field="*{address}"  class="form-control"/>
                        </div>
                     <small class="form-text text-danger" th:errors="*{address}"></small> 
                    </div>

                    <!--row3-->
                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Vai trò</label>
                        </div>
                        <div class="col-auto">
                       
                        <select th:field="*{roles}"  class="form-select" aria-label="Default select example">
						   		<option  ${users.roles.id == 1 ? 'selected':'' } value="1">Quản lý</option>
                                <option ${users.roles.id == 3 ? 'selected':'' } value="3">Nhân viên</option>
                                <option ${users.roles.id == 2 ? 'selected':'' } value="2">Người dùng</option>
						</select>

                       
                            
                        </div>
                       
                    </div>

                    <div class="col-3">
                        <div class="col-auto">
                            <label class="col-form-label">Ngày tạo</label>
                        </div>
                        <div class="col-auto">
                        <input th:value="${users.create_date}"  class="form-control" readonly/>
                            
                        </div>
                    </div>
                   
                    <!--Images-->
					<div class="col-4" style="padding: 0px;">
						

						<div class="col-10" style="margin: 25px; width: 90%"> 
							<div style="width: 100%; height: 200px; border: 1px dotted gray;"> 
							
							
						<img alt="" th:if="${not #strings.isEmpty(name)}" name="name" id="img" width="100%" height="100%" 
						style="object-fit: contain;"> 
						
						
						
						<img alt="" th:if="${#strings.isEmpty(name)}" th:src="@{/images/user-img/${users.images}}" id="img" 
						width="100%" height="100%" style="object-fit: contain;"> 
						
						
							</div> 
						</div> 
						
						<div style="margin: 25px; width: 90%; margin-top: 0px;" class="input-group date" id="reservationdate" 
						th:data-target-input="nearest" th:class="'input-group date'"> 
						
						<input  name="file" th:id="'inputGroupFile01'" type="file" class="form-control datetimepicker-input" 
						placeholder="choose file" th:class="'form-control datetimepicker-input'"/> 
						
						</div>



					</div>

				</div>
                <!--btn-->

                <div class="btn-account">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                        <button class="btn btn-warning" th:formaction="'/account/update/' + ${users.id}">Cập nhật</button>
						<a class="btn btn-primary" th:href="'/admin/account'" >Làm Mới</a>
                    </div>
                </div>
            </form>
            
            <div class="below">
                <div class="table-responsive mt-5" style="overflow-x: auto" id="pagination">
                    <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên tài khoản</th>
                                <th>Tên</th>
                                <th>Họ</th>
                                <th>Email</th>
                                <th>Mật khẩu</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Vai trò</th>
                                <th>Tình trạng</th>
                                <th>Hình ảnh</th>
                                <th colspan="2">Thao Tác</th>
                            </tr>
                        </thead>
                        <tbody>
							
                            <tr th:each="item, state: ${list}">
                                <td th:text="${state.index + 1}"></td>
						         <td th:text="${item.user_names}"></td>
						         <td th:text="${item.first_names}"></td>
						         <td th:text="${item.last_names}"></td>
						         <td th:text="${item.email}"></td>
						         <td th:text="${item.pass_words}"></td>
						         <td th:text="${item.phones}"></td>
						         <td th:text="${item.address}"></td>
						         <td th:text="${item.roles.id}"></td>
						         
                                <td style="text-align: center;">
								    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
								        th:data-bs-target="'#modal-Close' + ${item.id}">
								        <i th:if="${item.is_active == 3}" class="fa-solid fa-lock "></i>
								        <i th:if="${item.is_active == 1}" class="bi bi-unlock-fill"></i>
								    </button>
								    
								    
								<div th:if="${item.is_active == 1}" class="modal fade" th:id="'modal-Close'+ ${item.id}" data-bs-backdrop="static"
								        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
								        aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <h5 class="modal-title" id="staticBackdropLabel"> Khóa tài khoản </h5>
								                    <button type="button" class="btn-close" data-bs-dismiss="modal"
								                        aria-label="Close"></button>
								                </div>
								                <div class="modal-body">
								
								                    <p style="font-size: 19px;">Bạn có muốn Khóa thông tin của [[${item.user_names}]] </p>
								
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
								                    <a th:href="@{/account/close/{id}(id=${item.id})}" class="btn btn-primary">YES</a>
								                </div>
								            </div>
								        </div>
								    </div>
								    <div th:if="${item.is_active == 3}" class="modal fade" th:id="'modal-Close'+ ${item.id}" data-bs-backdrop="static"
								        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
								        aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <h5 class="modal-title" id="staticBackdropLabel"> Mở Khóa tài khoản </h5>
								                    <button type="button" class="btn-close" data-bs-dismiss="modal"
								                        aria-label="Close"></button>
								                </div>
								                <div class="modal-body">
								
								                    <p style="font-size: 19px;">Bạn có muốn Mở khóa thông tin của [[${item.user_names}]] </p>
								
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
								                    <a th:href="@{/account/close/{id}(id=${item.id})}" class="btn btn-primary">YES</a>
								                </div>
								            </div>
								        </div>
								    </div>
								
								    
								</td>

                
                <td th:text="${item.images}"></td>
                
                <td>
                <!-- Modal update --> 
                				<a th:href="'/account/edit/' + ${item.id}" class="btn btn-primary"> 
                						<i class="bi bi-pencil-square"></i> </a>

								<button class="btn btn-danger" data-bs-toggle="modal" 
								    th:data-bs-target="'#modalDelte' + ${item.id}">
						        		<i class="bi bi-trash-fill"></i>
						    </button>
						
						    <!-- Modal delete -->
						    <div class="modal fade" th:id="'modalDelte' + ${item.id}" tabindex="-1" data-bs-backdrop="static"
								        data-bs-keyboard="false" aria-labelledby="exampleModalLabel"
						        aria-hidden="true">
						        <div class="modal-dialog">
						            <div class="modal-content">
						                <div class="modal-header">
						                    <h1 class="modal-title fs-5" th:id="exampleModalLabel">Modal title</h1>
						                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						                </div>
						                <div class="modal-body">Bạn muốn Xóa Tài Khoản [[${item.user_names}]]</div>
						                <div class="modal-footer">
						                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
						                    <a th:href="@{/account/delete/{id}(id=${item.id})}" class="btn btn-primary">YES</a>
						                </div>
						            </div>
						        </div>
						    </div>
						</td>
								<!-- Modal --><!--  -->
				</tr>
				
                </tbody>
                </table>
                
            </div>
            </div>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div  role="group" aria-label="First group">
    <button type="button" class="btn btn-primary" name="first">First</button>
    <button type="button" class="btn btn-primary" name="prev">Prev</button>
    <button type="button" class="btn btn-primary" name="next">Next</button>
    <button type="button" class="btn btn-primary" name="last">Last</button>
    
  </div>

</div>
        </section>
		<!--end of middle-->
		

	</main>

	<!-- Link To Base JS -->
	<th:block th:replace="~{/admin/component/_linkJS :: jsLinks}" />






<!-- <script >
var app = angular.module('myApp', []);
	
	app.controller('accountCtrl', function ($scope, $http) {
		$scope.user = "";
		$scope.item = [];
		
		$scope.view = function () {
			var AccountURL = "http://localhost:8080/api/admin/account";
			
			$http.get(AccountURL)
				.then(function (rep) {
					$scope.item = resp.data;
					
				})
				.catch(function (e) {
					console.log(e);
				});
		}
		
		
		
		
		
		$scope.view();
		
	});
	
	
	
	</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

<script type="text/javascript">
var currentPage = 1;
var pageSize = 3; // số dòng hiển thị trên mỗi trang

function paginateTable() {
  var table = document.getElementById("myTable");
  var rows = table.getElementsByTagName("tr");
  var totalPages = Math.ceil((rows.length - 1) / pageSize); // tổng số trang

  // Ẩn tất cả các dòng trong bảng
  for (var i = 1; i < rows.length; i++) {
    rows[i].style.display = "none";
  }

  // Hiển thị dòng trong phạm vi của trang hiện tại
  var start = (currentPage - 1) * pageSize + 1;
  var end = Math.min(start + pageSize - 1, rows.length - 1);
  for (var j = start; j <= end; j++) {
    rows[j].style.display = "";
  }

  // Thay đổi trạng thái của các nút phân trang
   var firstButton = document.querySelector('button[name="first"]');
  var prevButton = document.querySelector('button[name="prev"]');
  var nextButton = document.querySelector('button[name="next"]');
  var lastButton = document.querySelector('button[name="last"]');

  /* firstButton.disabled = currentPage === 1;
  prevButton.disabled = currentPage === totalPages;
  nextButton.disabled = currentPage === totalPages;
  lastButton.disabled = currentPage === 1; */
} 

// Sự kiện click của nút "First"
var firstButton = document.querySelector('button[name="first"]');
firstButton.addEventListener("click", function () {
  currentPage = 1;
  paginateTable();
});

// Sự kiện click của nút "Prev"
var prevButton = document.querySelector('button[name="prev"]');
prevButton.addEventListener("click", function () {
  currentPage--;
  paginateTable();
});

// Sự kiện click của nút "Next"
var nextButton = document.querySelector('button[name="next"]');
nextButton.addEventListener("click", function () {
  currentPage++;
  paginateTable();
});

// Sự kiện click của nút "Last"
var lastButton = document.querySelector('button[name="last"]');
lastButton.addEventListener("click", function () {
  currentPage = totalPages;
  paginateTable();
});

// Gọi hàm phân trang khi trang web được tải
window.addEventListener("load", function () {
  paginateTable();
});



</script>

	<script type="text/javascript">
    const sidebarList = document.querySelectorAll('.sidebar');
    const sidebarActive = document.querySelector('.sidebar#account');

    let img = document.getElementById('img');
    let input = document.getElementById('inputGroupFile01');
    input.onchange = (e) => {
        if (input.files[0])
            img.src = URL.createObjectURL(input.files[0]);
    } 
    
    
    sidebarList.forEach((sidebar) => {
    	sidebar.firstElementChild.classList.remove('active');
        });
    sidebarActive.firstElementChild.classList.add('active');
    </script>
</body>

</html>








