<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>B.S.C.Team - CarService</title>

<!-- Link To Base CSS -->
	<th:block th:include="/admin/fragments/_linkCSS :: cssLinks" />

<!-- Link To Account CSS -->
<link rel="stylesheet" th:href="@{/css/Account_MAN.css}">

<link rel="stylesheet"
	th:href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<link rel="stylesheet"
	th:href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
<style type="text/css">
.text-danger {
	font-size: 15px;
}
</style>
</head>


<body>
	<!-- Start Header -->
	<nav th:replace="~{/admin/fragments/_header :: nav}" ></nav>
	<!-- End Header -->

	<main style="grid-template-columns: 16rem auto 0;">
		<!-- Start Menu Aside -->
		<aside th:replace="~{/admin/fragments/_menu :: aside}" ></aside>
		<!-- End Menu Aside -->

		<section class="middle">
    <!--from-->
    <form class="above" action="/account/create" method="POST" th:object="${users}" enctype="multipart/form-data">
        <div class="px-4 p-3">
            <div class="row">
                <div class="col-5">
                    <button class="btn btn-info text-white">Thêm mới</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="" alt="">
            </div>
            <!--row1-->
            <div class="col-3">
                <div class="col-auto">
                    <label class="col-form-label">ID</label>
                </div>
                <div class="col-auto">
                    <input name="id" th:value="${users.id}" class="form-control" readonly />
                </div>
            </div>
            <div class="col-3">
                <div class="col-auto">
                    <label class="col-form-label">Tên tài khoản</label>
                </div>
                <div class="col-auto">
                    <input th:field="*{user_names}" class="form-control" />
                    <small class="form-text text-danger" th:errors="*{user_names}"></small>
                </div>
            </div>
            <div class="col-3">
                <div class="row g-2">
                    <div class="col-md">
                        <div class="col-auto">
                            <label class="col-form-label">Tên</label>
                        </div>
                        <div class="col-auto">
                            <input th:field="*{first_names}" class="form-control" />
                            <br>
                        </div>
                        <small class="form-text text-danger" th:errors="*{first_names}"></small>
                    </div>
                    <div class="col-md">
                        <div class="col-auto">
                            <label class="col-form-label">Họ</label>
                        </div>
                        <div class="col-auto">
                            <input th:field="*{last_names}" class="form-control" />
                            <br>
                        </div>
                        <small class="form-text text-danger" th:errors="*{last_names}"></small>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="col-auto">
                    <label class="col-form-label">Email</label>
                </div>
                <div class="col-auto">
                    <input th:field="*{email}" class="form-control" />
                    <small class="form-text text-danger" th:errors="*{email}"></small>
                    <span th:text="${error}"></span>
                </div>
            </div>
            <!--row2-->
            <div class="col-3">
                <div class="col-auto">
                    <label class="col-form-label">Mật khẩu</label>
                </div>
                <div class="col-auto">
                    <input th:field="*{pass_words}" class="form-control" />
                    <small class="form-text text-danger" th:errors="*{pass_words}"></small>
                </div>
            </div>
            <div class="col-3">
                <div class="col-auto">
                    <label class="col-form-label">Số điện thoại</label>
                </div>
                <div class="col-auto">
                    <input th:field="*{phones}" class="form-control" type="text" />
                    <small class="form-text text-danger" th:errors="*{phones}"></small>
                </div>
            </div>
            <div class="col-3">
                <div class="col-auto">
                    <label class="col-form-label">Địa chỉ</label>
                </div>
                <div class="col-auto">
                    <input th:field="*{address}" class="form-control" />
                    <small class="form-text text-danger" th:errors="*{address}"></small>
                </div>
            </div>
            <!--row3-->
            <div class="col-3">
                <div class="col-auto">
                    <label class="col-form-label">Vai trò</label>
                </div>
                <div class="col-auto">
                    <select th:field="*{roles}" class="form-select" aria-label="Default select example">
                        <option th:selected="${users.roles.id == 1}" value="1">Quản lý</option>
                        <option th:selected="${users.roles.id == 3}" value="3">Nhân viên</option>
                        <option th:selected="${users.roles.id == 2}" value="2">Người dùng</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="col-auto">
                    <label class="col-form-label">Ngày tạo</label>
                </div>
                <div class="col-auto">
                    <input th:value="${users.create_date}" class="form-control" readonly />
                </div>
            </div>
            <div class="col-3">
                <div class="col-auto">
                    <label class="col-form-label">Ngày cập nhật</label>
                </div>
                <div class="col-auto">
                    <input th:value="${users.update_date}" class="form-control" readonly />
                </div>
            </div>
            <div class="col-4" style="padding: 0px;">
                <div class="col-10" style="margin: 25px; width: 90%">
                    <div style="width: 100%; height: 200px; border: 1px dotted gray;">
                        <th:block th:if="${not empty name}">
                            <img alt="" th:src="${name}" id="img" width="100%" height="100%" style="object-fit: contain;">
                        </th:block>
                        <th:block th:if="${empty name}">
                            <img alt="" th:src="/images/user-img/${users.images}" id="img" width="100%" height="100%" style="object-fit: contain;">
                        </th:block>
                    </div>
                </div>
                <div style="margin: 25px; width: 90%; margin-top: 0px;" class="input-group date" id="reservationdate"
                     data-target-input="nearest">
                    <input name="file" id="inputGroupFile01" type="file" class="form-control datetimepicker-input"
                           placeholder="choose file" />
                </div>
            </div>
        </div>
        <!--btn-->
        <div class="btn-account">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-warning">Cập nhật</button>
            </div>
        </div>
    </form>
    
    <div class="below">
        <div class="table-responsive mt-5" style="overflow-x: auto">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên tài khoản</th>
                        <th>Tên</th>
                        <th>Họ</th>
                        <th>Email</th>
                        <th>Mật khẩu</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Vai trò</th>
                        <th>Tình trạng</th>
                        <th>Hình ảnh</th>
                        <th colspan="2">Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="item : ${list.content}">
                        <tr>
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.user_names}"></td>
                            <td th:text="${item.first_names}"></td>
                            <td th:text="${item.last_names}"></td>
                            <td th:text="${item.email}"></td>
                            <td th:text="${item.pass_words}"></td>
                            <td th:text="${item.phones}"></td>
                            <td th:text="${item.address}"></td>
                            <td th:text="${item.roles.id}"></td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        th:data-bs-target="'#modal-Close' + ${item.id}">
                                    <th:block th:if="${item.is_active == 3}">
                                        <i class="fa-solid fa-lock"></i>
                                    </th:block>
                                    <th:block th:if="${item.is_active == 1}">
                                        <i class="bi bi-unlock-fill"></i>
                                    </th:block>
                                </button>
                                <th:block th:if="${item.is_active == 3}">
                                    <div class="modal fade" th:id="'modal-Close' + ${item.id}" data-bs-backdrop="static"
                                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Khóa tài khoản</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p style="font-size: 19px;">Bạn có muốn Mở khóa thông tin của
                                                        <span th:text="${item.user_names}"></span></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                                                    <a th:href="@{/account/close/{id}(id=${item.id})}" class="btn btn-primary">YES</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:if="${item.is_active == 1}">
                                    <div class="modal fade" th:id="'modal-Close' + ${item.id}" data-bs-backdrop="static"
                                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Mở Khóa tài khoản</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p style="font-size: 19px;">Bạn có muốn Khóa thông tin của
                                                        <span th:text="${item.user_names}"></span></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                                                    <a th:href="@{/account/close/{id}(id=${item.id})}" class="btn btn-primary">YES</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </td>
                            <td th:text="${item.images}"></td>
                            <td>
                                <a th:href="@{/account/edit/{id}(id=${item.id})}" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <button class="btn btn-danger" data-bs-toggle="modal"
                                        th:data-bs-target="'#modalDelte' + ${item.id}">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </td>
                        </tr>
                        <!-- Modal delete -->
                        <div class="modal fade" th:id="'modalDelte' + ${item.id}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">Bạn muốn Xóa Tài Khoản</div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                                        <a th:href="@{/account/delete/{id}(id=${item.id})}" class="btn btn-primary">YES</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal delete -->
                    </th:block>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <a th:href="@{/admin/account?p=0}"><button type="button" class="btn btn-primary">1</button></a>
                        <a th:href="@{/admin/account?p=1}"><button type="button" class="btn btn-primary">2</button></a>
                        <a th:href="@{/admin/account?p=2}"><button type="button" class="btn btn-primary">3</button></a>
                        <a th:href="@{/admin/account?p=${listproduts.totalPages-1}}"><button type="button" class="btn btn-primary">4</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of middle-->
		

	</main>

	<!-- Link To Base JS -->
	<th:block th:include="/admin/fragments/_jsCSS :: jsLinks" />

	<script type="text/javascript">
    const sidebarList = document.querySelectorAll('.sidebar');
    const sidebarActive = document.querySelector('.sidebar#account');

    let img = document.getElementById('img');
    let input = document.getElementById('inputGroupFile01');
    input.onchange = (e) => {
        if (input.files[0])
            img.src = URL.createObjectURL(input.files[0]);
    } 
    
    
    sidebarList.forEach((sidebar) => {
    	sidebar.firstElementChild.classList.remove('active');
        });
    sidebarActive.firstElementChild.classList.add('active');
    </script>
</body>

</html>








