
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>B.S.C.Team - CarService</title>

<!-- Link To Base CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<!-- Link To Favicon -->
<link rel="shortcut icon" href="/images/favicon.svg"
	type="image/svg+xml">

<!-- Link To Style CSS -->
<link rel="stylesheet" type="text/css" href="/css/style_MAN.css">

<!-- Link To Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

<!-- Link To Own CSS -->
<link rel="stylesheet" href="../css/Product_MAN.css">

<link rel="stylesheet" href="../css/sanpham.css">

<link href="http://www.thymeleaf.org/extras/formatting">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
	integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
	integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
	crossorigin="anonymous" />

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
	integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</head>

<body>
	<!-- Start Header -->
	<div th:insert="~{/admin/component/_header.html}"></div>
	<!-- End Header -->

	<main>

		<!-- Start Menu Aside -->
		<div th:insert="~{/admin/component/_menu.html}"></div>
		<!-- End Menu Aside -->

		<section class="middle">

			<div class="tab">

				<ul class="nav nav-pills mb-1 avtive" id="pills-tab" role="tablist">

					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
							data-bs-target="#pills-home" type="button" role="tab"
							aria-controls="pills-home" aria-selected="true">Sản phẩm</button>
					</li>


					<li class="nav-item " role="presentation">
						<button class="nav-link active" id="pills-profile-tab"
							data-bs-toggle="pill" data-bs-target="#pills-profile"
							type="button" role="tab" aria-controls="pills-profile"
							aria-selected="false">Mã giảm giá</button>
					</li>

					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-contact-tab"
							data-bs-toggle="pill" data-bs-target="#pills-contact"
							type="button" role="tab" aria-controls="pills-contact"
							aria-selected="false">Loại sản phẩm</button>
					</li>
				</ul>

				<div class="tab-content" id="pills-tabContent">

					<div class="tab-pane fade" id="pills-home" role="tabpanel"
						aria-labelledby="pills-home-tab">

						<div class="list-products">

							<div class="container">
								<div class="d-flex justify-content-between">

									<button type="button" class="btn btn-primary"
										style="width: 100px;" data-bs-toggle="modal"
										data-bs-target="#exampleModal" data-bs-whatever="@mdo">Thêm</button>


									<div class="d-flex column-gap-3 me-6">
										<div class="col-auto">

											<!-- 											<form action="/admin/product" method="POST">
												<input
													style="border-radius: 9px; background: lightgray; height: 32px; width: 298px"
													name="keyword" value="${param.keyword}"
													placeholder="Tìm kiếm ở đây..." />

											</form> -->
										</div>

									</div>
								</div>

								<div class="row">

									<div th:each="item : ${list}">

										<div class="item">
											<div class="content">
												<div class="left">


													<div class="name" th:text="${item.titles}"></div>

													<li class="price">Giá: <span th:text="${item.price}" /></li>

													<li>Ngày tạo: <span th:text="${#dates.format(item.create_date, 'hh:mm dd-MM-yyyy')}" /></li>
													
													<li>Ngày cập nhật: <span th:text="${#dates.format(item.update_date, 'hh:mm dd-MM-yyyy')}" /></li>

													<li>Loại: <span th:each="cate : ${item.categories.id}" th:text="${cate}" /></li>

													<li>Trạng thái: <span th:text="${item.is_status == 1 ? 'Còn hàng':'Hết hàng'}" /></li>

																									
													<li>Nhà cung cấp: <span th:each="supp : ${item.suppliers.user_names}" th:text="${supp}" /></li>

													<li>Giá gốc: <span th:text="${item.original_price + ' VNĐ'}" /> 
													
													<!-- <li>Giảm giá: <span th:text="${item.discounts.id} + '%' "/></li>  -->
													

													<li>Tình trạng: <span th:text="${item.is_active}" /></li>

													<li>Mô tả: <span th:text="${item.description}"></span></li>

												</div>


												<div class="right">

													<img th:src="@{/images/product-img/{images}(images=${item.images})}" />
												</div>
											


												<div class="bottom">
													<div class="btn-pro">
														
														<button type="button" class="btn btn-primary" data-bs-toggle="modal"
															th:data-bs-target=" '#exampleModal' + ${item.id} "
															data-bs-whatever="@mdo">
															
															<i class="bi bi-pencil-square"></i>														 
														</button>

														<a th:href="@{/admin/product/delete/{id}(id=${item.id})}"
															class="btn btn-danger"> <i class="bi bi-trash"></i>
														</a>

													</div>
												</div>
											</div>
										</div>


										
										<div class="modal fade" th:id=" 'exampleModal' + ${item.id}"
											tabindex="-1" aria-labelledby="exampleModalLabel"
											aria-hidden="true">

											<div class="modal-dialog">

												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Sửa
															Sản Phẩm</h5>
															
														<button type="button" class="btn-close"
															data-bs-dismiss="modal" aria-label="Close">
														</button>
														
													</div>

													<form th:action="@{/admin/save}" th:object=${products}
														th:modelAttribute="products" th:method="post"
														enctype="multipart/form-data">

														<div class="modal-body">

															<div class="col-md-6">
																<label for="inputId" class="form-label">Mã:</label> 
																<input name="id" th:value="${item.id}" class="form-control" />

															</div>

															<div class="col-md-6">
																<label for="inputTitle" class="form-label">Tiêu đề:</label>
																
																<input name="titles" th:value="${item.titles}" class="form-control" />
															</div>

															<div class="col-md-12">
																<label for="inputPrice" class="form-label">Giá:</label>
																
																<input name="price" th:value="${item.price}" class="form-control" />
															</div>

															<div class="col-md-12">
																<label for="inputCraetDate" class="form-label">Ngày đăng:</label> 
																	
																<input readonly name="createDay" th:value="${item.create_date}" class="form-control" />

															</div>

															<div class="col-md-12">
																<label for="inputCraetDate" class="form-label">Ngày cập nhật:</label> 
																
																<input readonly name="updateDay" th:value="${item.update_date}" class="form-control" />
															</div>

															<div class="col-md-12">
																<label for="categoryId" class="form-label">Loại:</label>

																<select name="cate" th:value="${item.categories}" class="form-control">
																	
																	<option th:each="cate : ${listCate}" th:value="${cate.id}" th:text="${cate.names}"></option>

																</select>

															</div>

															<fieldset class="row mb-3" style="margin-top: 1rem;">
																<legend class="col-form-label col-sm-2 pt-0">Trạng thái:</legend>
																<div class="col-sm-4">
																	<div class="form-check">
																		<label class="form-check-label" for="gridRadios1">
																			
																			<input name="is_status" th:value="${item.is_status}"
																			th:checked="${item.is_status == 1}" value="1"
																			class="form-check-input" type="radio"
																			id="gridRadios1" checked />Còn hàng

																		</label>
																	</div>
																</div>

																<div class="col-sm-4">

																	<div class="form-check">
																		<label class="form-check-label" for="gridRadios2">
																			
																			<input name="is_status" th:value="${item.is_status}"
																			th:checked="${item.is_status == 0}" value="0"
																			class="form-check-input" type="radio"
																			id="gridRadios1" checked />Hết hàng

																		</label>
																	</div>
																</div>
															</fieldset>

															<div class="col-md-12">
																<label for="inputSuppliers" class="form-label">Nhà cung cấp:</label>
																	<select name="supp" th:value="${item.suppliers}" class="form-control">

																	<option th:each="supp : ${listSupp}"
												
																     	th:value="${supp.id}"
																		th:text="${supp.user_names}">
																	</option>

																</select>

															</div>

															<div class="col-md-6">
																<label for="inputSuppliers" class="form-label">Giá gốc:</label> 
																
																<input name="original_price" th:value="${item.original_price}" class="form-control" />

															</div>

															<div class="col-md-6">
																<label for="inputSuppliers" class="form-label">Giảm giá:</label> 
																<select name="dis" th:value="${item.discounts}" class="form-control">

																	<option th:each="dis : ${listDis}"
																		
																     	th:value="${dis.id}"
																		th:text="${dis.price_discounts + '%' }"></option>

																</select>
															</div>


															<label class="form-label" for="customFile">Tải ảnh:</label> 
															<input th:value="${item.images}" name="file" type="file" class="form-control" id="customFile" />


															<div class="col-12">
																<label for="inputDescription" class="form-label">Mô tả</label>
																
																<textarea name="description" th:value="${item.description}"
																	class="form-control" rows="4"></textarea>
															</div>

														</div>

														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-bs-dismiss="modal">Đóng</button>

														
															 <button th:formaction="@{|/admin/product/update/${item.id}|}" type=" button" class="btn btn-primary">
																Lưu thay đổi
															</button> 
															
															
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>

									<div style="margin-top: 15px;">
										<ul class="pagination pagination-lg justify-content-end">
											<li class="page-item "><a
												class="page-link  rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
												href="/admin/product?p=0">1</a></li>
											<li class="page-item"><a
												class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
												href="/admin/product?p=1">2</a></li>
											<li class="page-item"><a
												class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
												href="/admin/product?p=2">3</a></li>
											<li class="page-item"><a
												class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
												href="/admin/product?p=${listproduts.totalPages-1}">4</a></li>
										</ul>
									</div>

								</div>
							</div>

						</div>
					</div>
					<!-- kết thúc div product -->


					<div class="tab-pane fade show active" id="pills-profile"
						role="tabpanel" aria-labelledby="pills-profile-tab">

						<section class="middle">

							
							<form th:action="@{/admin/save/discount}" th:object=${discounts}
								th:modelAttribute="discounts" th:method="post"
								enctype="multipart/form-data">

								<div class="row">

									<div class="col-6">
										<div class="col-auto">
											<label class="col-form-label">Mã:</label>
										</div>

									
										<input name="id" th:field="*{id}"
											class="form-control" />

									</div>

									<div class="col-6">
										<div class="col-auto">
											<label class="col-form-label">Tiêu đề:</label>
										</div>

										
										<input name="titles" th:field="*{titles}"
											class="form-control" />
									</div>

									<div class="col-12">

										<label for="inputSuppliers" class="form-label">Giảm
											giá:</label> 

										<input type="text" th:field="*{price_discounts}"
											class="form-control" />
									</div>

									<div class="col-md-12">
										<label for="inputCraetDate" class="form-label">Ngày
											bắt đầu:</label> 
											
											<input type="date" name="startDay" th:value="${startDate}"
											class="form-control" />

									</div>

									<div class="col-md-12">
										<label for="inputCraetDate" class="form-label">Ngày
											kết thúc:</label> 
											
											<input type="date" name="endDay" th:value="${endDate}"
											class="form-control" />

									</div>

									
									<!-- <fieldset class="row mb-3" style="margin-top: 1rem;">
										<legend class="col-form-label col-sm-2 pt-0">Tình
											trạng:</legend>
										<div class="col-sm-4">
											<div class="form-check">
												<label class="form-check-label" for="gridRadios1"> <input
													name="is_status" th:checked="${discounts.is_active == 1}"
													name="is_active" th:field="*{is_active}" th:checked="*{is_active == 1}"
													value="1" class="form-check-input" type="radio"
													id="gridRadios1" checked />Đang hoạt động

												</label>
											</div>
										</div>

										<div class="col-sm-4">

											<div class="form-check">
												<label class="form-check-label" for="gridRadios2"> <input
													name="is_status" th:checked="${discounts.is_active == 0}"
													name="is_active" th:field="*{is_active}" th:checked="*{is_active == 0}"
													value="0" class="form-check-input" type="radio"
													id="gridRadios1" checked />Đã đóng cửa

												</label>
											</div>
										</div>
									
									</fieldset> -->


									<div class="col-12">
										<div class="col-auto">
											<label class="col-form-label">Mô tả:</label>
										</div>

										
										<textarea name="descriptions" th:field="*{descriptions}"
											class="form-control" rows="4"></textarea>

									</div>
								</div>


								<div class="btn-add">
									<div class="d-grid gap-2 d-md-flex justify-content-md-end">

											<button type="submit" class="btn btn-primary">
												<i class="bi bi-plus-lg"></i>
											</button>			
										
											<button th:formaction="@{|/admin/discount/update/${id}|}" type=" button" class="btn btn-primary">
												<i class="bi bi-pencil-square"></i>
											</button>										

									</div>
								</div>

							</form>

							<div class="below">
								<div class="table-responsive mt-5" style="overflow-x: auto">
									<table class="table table-bordered col-12">
										<thead>
											<tr>
												<th>Mã</th>
												<th>Tiêu đề</th>
												<th>Giảm giá</th>
												<th>Ngày bắt đầu</th>
												<th>Ngày kết thúc</th>
												<th>Tình trạng</th>
												<th>Mô tả</th>
												<th></th>
											</tr>
										</thead>

										<tbody>

											<tr th:each="item : ${listDis}">
											
												<td th:text="${item.id}"></td>

												<td th:text="${item.titles}"></td>

												<td th:text="${item.price_discounts + '%' }"></td>

												<td th:text="${item.start_day}"></td>

												<td th:text="${item.end_day}"></td>

												<td th:text="${item.is_active}"></td>

												<td th:text="${item.descriptions}"></td>

												<td>
													<a
														th:href="@{/admin/discount/edit/{id}(id=${item.id})}"
														class="btn btn-primary"> <i class="bi bi-pencil-square"></i>
													</a> 
													
					
													<a
														th:href="@{/admin/discount/delete/{id}(id=${discounts.id})}"
														class="btn btn-danger"> <i class="bi bi-trash"></i>
													</a>
												</td>

											</tr>
										</tbody>

									</table>


					
									
										<nav class="d-flex justify-content-center">
										<ul class="pagination pagination-lg justify-content-end">
											<li class="page-item "><a
												class="page-link  rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
												href="/admin/product?p=0">1</a></li>
											<li class="page-item"><a
												class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
												href="/admin/product?p=1">2</a></li>
											<li class="page-item"><a
												class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
												href="/admin/product?p=2">3</a></li>
											<li class="page-item"><a
												class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
												href="/admin/product?p=${listproduts.totalPages-1}">4</a></li>
										</ul>
									</nav>

								</div>
							</div>

						</section>

					</div>


					<div class="tab-pane fade" id="pills-contact" role="tabpanel"
						aria-labelledby="pills-contact-tab">
						<section class="middle">

							
							<form th:action="@{/admin/save/category}" th:object=${categories}
								th:modelAttribute="categories" th:method="post"
								enctype="multipart/form-data">

								<div class="row">

									<div class="col-12">
										<div class="col-auto">
											<label class="col-form-label">Mã:</label>
										</div>
										<div class="col-auto">
										
										
											<input name="id" th:field="*{id}"
												class="form-control" />
										</div>
										
									</div>
									
									<div class="col-12">
										<div class="col-auto">
											<label class="col-form-label">Tên:</label>
										</div>

										<div class="col-auto">
											
											<input name="names" th:field="*{names}"
												class="form-control" />
										</div>
										<!-- <p th:if="${categories.names == null}" style="color: red;">Vui lòng nhập tên</p> -->
									</div>

								</div>

								<div class="btn-add">
									<div class="d-grid gap-2 d-md-flex justify-content-md-end">
	
											<button type="submit" class="btn btn-primary">
												<i class="bi bi-plus-lg"></i>
											</button>
										
										
										<button th:formaction="@{|/admin/category/update/${id}|}" type=" button" class="btn btn-primary">
												<i class="bi bi-pencil-square"> </i>
										</button>


									</div>
								</div>
							</form>


							<div class="below">
								<div class="table-responsive mt-5" style="overflow-x: auto">
									<table class="table table-bordered col-12">
										<thead>
											<tr>
												<th>Mã:</th>
												<th>Tên:</th>
												<th>Tình trạng:</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${listCate}">
												<td th:text="${item.id}"></td>
												<td th:text="${item.names}"></td>
												<td th:text="${item.is_active}"></td>

												<td>
													<a
														th:href="@{/admin/category/edit/{id}(id=${item.id})}"
														class="btn btn-primary"> <i class="bi bi-pencil-square"></i>
													</a> 
													
													<a th:href="@{/admin/category/delete/{id}(id=${categories.id})}"
														class="btn btn-danger"> <i class="bi bi-trash"></i>
													</a>
												</td>
											</tr>

										</tbody>
									</table>

									<nav class="d-flex justify-content-center">
										<ul class="pagination pagination-lg justify-content-end">
											<li class="page-item "><a
												class="page-link  rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
												href="/admin/product?p=0">1</a></li>
											<li class="page-item"><a
												class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
												href="/admin/product?p=1">2</a></li>
											<li class="page-item"><a
												class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
												href="/admin/product?p=2">3</a></li>
											<li class="page-item"><a
												class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
												href="/admin/product?p=${listproduts.totalPages-1}">4</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</section>
					</div>


					<div class="modal fade" id="exampleModal" tabindex="-1"
						th:fragment="modal" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">

							<div class="modal-content">

								<div class="modal-header">

									<h1 class="modal-title fs-5" id="exampleModalLabel">Thêm
										Sản Phẩm</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>

								
								<form th:action="@{/admin/save/product}" th:object=${products}
									th:method="post" th:modelAttribute="product"
									enctype="multipart/form-data">

									<div class="modal-body">

										<div class="col-md-12">
											<label for="inputTitle" class="form-label">Tiêu đề:</label> 
											
											<input name="titles" th:field="*{titles}" class="form-control" />
										</div>

										<div class="col-md-12">
											<label for="inputPrice" class="form-label">Giá:</label>
											 
											<input name="price" th:field="*{price}" class="form-control" />
										</div>

										<div class="col-md-12">
											<label for="inputCraetDate" class="form-label">Ngày đăng:</label> 
																							
											<input type="date" name="createDay" th:value="${createDate}"
													class="form-control" />

										</div>

										<div class="col-md-12">
											<label for="inputCraetDate" class="form-label">Ngày cập nhật:</label> 
					
											<input type="date" name="updateDay" th:value="${updateDate}"
													class="form-control" />

										</div>

										<div class="col-md-12">
											<label for="categoryId" class="form-label">Loại:</label> <select
												th:field="*{categories}" class="form-control">

												<option th:each="cate : ${listCate}"							
													th:value="${cate.id}"
													th:text="${cate.names}">
												</option>

											</select>

										</div>

										<fieldset class="row mb-3" style="margin-top: 1rem;">
											<legend class="col-form-label col-sm-2 pt-0">Trạng
												thái:</legend>
											<div class="col-sm-4">
												<div class="form-check">
													<label class="form-check-label" for="gridRadios1">
														<input name="is_status" th:checked="*{is_status == 1}"
														value="1" class="form-check-input" type="radio"
														id="gridRadios1" checked />Còn hàng

													</label>
												</div>
											</div>

											<div class="col-sm-4">

												<div class="form-check">
													<label class="form-check-label" for="gridRadios2">
														<input name="is_status" th:checked="*{is_status == 0}"
														value="0" class="form-check-input" type="radio"
														id="gridRadios1" checked />Hết hàng

													</label>
												</div>
											</div>
										</fieldset>

										<div class="col-md-12">
											<label for="inputSuppliers" class="form-label">Nhà cung cấp:</label> 
											
											<select name="supp" th:field="*{suppliers}" class="form-control">

												<option th:each="supp : ${listSupp}" 
													th:value="${supp.id}"
													th:text="${supp.user_names}"></option>

											</select>

										</div>

										<div class="col-md-12">
											<label for="inputSuppliers" class="form-label">Giá gốc:</label>
											
											<input name="original_price" th:field="*{original_price}" class="form-control" />

										</div>

										<div class="col-md-12">
											<label for="inputSuppliers" class="form-label">Giảm giá:</label> 
											
												<select name="dis" th:field="*{discounts}" class="form-control">

												<option th:each="dis : ${listDis}" 
													th:value="${dis.id}"
													th:text="${dis.price_discounts + '%' }">
												</option>

											</select>
										</div>


										<label class="form-label" for="customFile">Tải ảnh:</label> 
										
						
										<input th:field="*{images}" name="file" type="file" class="form-control" id="customFile" />

										<div class="col-12">
											<label for="inputDescription" class="form-label">Mô tả</label>
											
											<textarea name="description" th:field="*{description}" class="form-control"
												rows="4"></textarea>
												
										</div>

									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Đóng</button>

											<button type="submit" class="btn btn-primary">
												Thêm sản phẩm
											</button>
										
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- kết thúc div tab-content -->

			</div>
			<!-- kết thúc div tab -->

		</section>

		<!--end of middle-->

	</main>

	<!-- Link To Base JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="/js/main_MAN.js"></script>

	<script type="text/javascript">
    const sidebarList = document.querySelectorAll('.sidebar');
    const sidebarActive = document.querySelector('.sidebar#product');

    sidebarList.forEach((sidebar) => {
    	sidebar.firstElementChild.classList.remove('active');
        });
    sidebarActive.firstElementChild.classList.add('active');
    </script>

	<script type="text/javascript">
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel();
        });

        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>

</body>
</html>


