

<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>B.S.C.Team - CarService</title>

<!-- Link To Base CSS -->
		<th:block th:include="/user/component/_linkCSS :: cssLinks"/>
<style>
.pro-thumbnail {
	width: 80px;
}
input:disabled {
  background-color: red;
  color: blue;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="shop-cart" ng-controller="ctrl">
	<!--  đọc dữ liệu từ trang khi mà người dùng click chuột vào giỏ hàng
	kiểm tra -->

	<!-- Header Start -->
	<th:block th:include="/user/component/_header :: header" />
	
	<!-- Header End -->

	<main>

		<!-- ========================== BREADCRUMB ========================== -->
		<section class="breadcrumb">
			<ul class="breadcrumb__list d-flex container">
				<li><a href="/user/index" class="breadcrumb__link">Trang
						chủ</a></li>
				<li><span class="breadcrumb__link">></span></li>
				<li><span class="breadcrumb__link active">Giỏ hàng</span></li>
			</ul>
		</section>

		<div class="container mt-5 d-flex justify-content-center gap-4">
			<div class="table-cart col-md-8">
				<table class="table caption-top align-middle">
					<caption>Danh sách sản phẩm</caption>
					<thead class="table-dark text-center">
						<tr>
							<th scope="col" class="col-md-2">
							
<input  type="checkbox" ng-model="selectAll" ng-change="toggleAllCheckboxes()"> Check All

							</th>
							<th scope="col" class="col-md-2">Hình</th>
							<th scope="col" class="col-md-2">Tên</th>
							<th scope="col" class="col-md-2">Giá</th>
							<th scope="col" class="col-md-2">Số lượng</th>
							<th scope="col" class="col-md-2">Tổng</th>
							<th scope="col" class="col-md-2">Xóa</th>
						</tr>
					</thead>
					<tbody class="text-center">

						<!-- ------------------------vòng lập---------------------------------------------- -->						 																					
							<tr ng-repeat="item in cart.items">
							  <td>
						      <input ng-click="deleteCheckBox()"  style="background: red" type="checkbox" ng-model="item.checked" ng-change="cart.updateSelectedItems(item.id)">
						    </td>
						
							<td class="pro-thumbnail"><a href="#"> <img
										th:src="@{/images/product-img/{{item.images}}}" alt="" height="70px;">
								</a></td> 
								<td>{{item.titles}}</td>													
								<!----------------- giá có trong cart------------------------------------ -->
								<td ng-if="{{item.price}}">
									
									<td>{{item.salePirce | number:2}}</td>									
								</td>
							<!-- 	-------------------------------------------------------- -->
								<!-- <c:if test="${ empty item.value.price}">
									<td>0 VNĐ</td>
								</c:if> -->
								<!-- --------------------------------------------------------------------- -->
							<td class="me-2 ms-2">
									<div class="input-group" data-product-id="{{item.id}}"
										data-min-qty="1" data-max-qty="10" data-curr-qty="1">

										<!-- Cộng -->
										<button ng-click="cart.cong(item.id)"
											class="btn btn-outline-warning qty-plus">+</button>
											<!-- sl -->
										<input readonly
										 ng-model="item.qty" class="form-control text-center qty-input"
											 placeholder="1" aria-describedby="quantityBtn">
										<!-- trừ -->
										<button ng-click="cart.tru(item.id)"
											
											class="btn btn-outline-warning">-</button>
									</div>
								</td>
								<!-- Giá tiền -->

							<td>
							{{item.qty * item.salePirce | number:2}}
							</td>

								<!-- <c:if test="${ empty item.value.orderMoney}">
									<td>0 VNĐ</td>
								</c:if> -->

							 <!-- -------------------- xóa dữ liệu -------------------------------- -->
								<td><a	ng-click="cart.delete(item.id)"								
									href="#" class="btn btn-danger" > <i class="bi bi-trash3"
										style="color: #fff;"></i>
								</a></td>													
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Mã giảm giá"
						aria-label="Mã giảm giá" aria-describedby="discountBtn"> <a
						href="#" class="btn btn-outline-warning" id="discountBtn">Áp
						dụng</a>
				</div>
				<div class="box-bill col-md-12">
					<div class="card border-secondary mb-3">
						<div class="card-header">Hóa đơn</div>
						<div class="card-body text-secondary">
							<div class="d-flex justify-content-between" style="color: #333;">
								<p class="card-text" style="font-weight: 500;">Tạm tính:</p>						
								<span>
									{{cart.amount | number:2}} VNĐ
								</span>																									
							</div>
							<div class="d-flex justify-content-between"
								style="color: #333; border-bottom: 1px solid #ccc;">
								<p class="card-text" style="font-weight: 500;">Giảm giá:</p>
								<span>0 VNĐ</span>
							</div>
							<div class="d-flex justify-content-between mt-3"
								style="color: #333;">
								<h5 class="card-title" style="font-weight: 500;">Tổng cộng:</h5>
								<!-- Tính  tổng tiền -->
									<span>
										{{cart.amount | number:2}} VNĐ
										
									</span>
							</div>
							<a  href="/user/cart/checkout" ng-click="luuTien()"
								class="btn btn-warning w-100 mt-4 fw-bolder">Tiến hành đặt
								hàng</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>


	<!-- Footer Start -->
	
	<th:block th:include="/user/component/_footer :: _footer" />
	
	<!-- Footer End -->

	<!-- Link To Base JS -->
	<th:block th:include="/user/component/_linkJS::jsLinks" />
	

	<!-- <script src="https:code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script th:src="@{/angular.js/shop.js}"></script>

	
</body>

	
