<!DOCTYPE html>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>B.S.C.Team - CarService</title>


<!-- Link To Favicon -->
<link rel="shortcut icon" href="/images/favicon.svg"
	type="image/svg+xml">

<!-- Link To Base CSS -->
<link rel="stylesheet" href="/css/base.css">

<!-- Link To Icon Bootstrap -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<!-- Link To Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

<!-- Link To News CSS -->
<link rel="stylesheet" href="/css/news.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js">
</script>


<style type="text/css">
.new__title {
	text-align: justify;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	min-height: 70px;
}
</style>
</head>

<body ng-controller="NewsDetailController">
	<!--  đọc dữ liệu từ trang khi mà người dùng click chuột vào giỏ hàng
	kiểm tra -->

	<!-- Header Start -->
	<header th:replace="~{/user/component/_header :: header}" ></header>
	<!-- Header End -->

	<main>

		<!-- ========================== BREADCRUMB ========================== -->
		<section class="breadcrumb">
			<ul class="breadcrumb__list d-flex container">
				<li><a href="/user/index" class="breadcrumb__link">Trang
						chủ</a></li>
				<li><span class="breadcrumb__link">></span></li>
				<li><a href="/user/news" class="breadcrumb__link">Tin tức</a></li>
				<li><span class="breadcrumb__link">></span></li>
				<li><span class="breadcrumb__link active">{{newInfo.titles}}</span></li>
			</ul>
		</section>

		<section class="news-hot mt-5">


			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="fw-bold text-uppercase my-4">Tin tức</h3>
						<h1 class="fw-bold text-uppercase my-4" style="font-size: 60px;">{{newInfo.titles}}</h1>
					</div>


					<div class="col-md-12">
						<a href="#"
							class="d-flex align-items-center justify-content-center"> <img
							src="/images/news-img/{{newInfo.images}}">
						</a>
					</div>

					<div class="col-md-12 mt-5">
						<div>
							<span style="font-size: 18px;"></span>
						</div>
					</div>
					<div class="col-md-12 mt-4">
						<div class="content__news-author px-2 py-1">
							<a href="#">
								<p>{{newInfo.users.user_names}}</p>
							</a>							
						</div>
						<div class="content__news-date my-3" style="font-size: 14px;">Ngày đăng: {{ getHourDiff() }} giờ trước - {{myDate|date:'dd/MM/yyyy'}}</div>
						
					</div>
			
					<div class="col-md-12 mt-4">
						<div
							class="content__news-content px-2 py-1 d-flex flex-column align-items-center">

							<p ng-bind-html="nd"></p>
						</div>
					</div>
				</div>
			</div>


		</section>
		<!-- 	<section class="container__hot my-4"> -->

		<div class="container py-3" style="border-top: 1px solid #ccc;">
			<div class="container__hot-title">
				<h2 class="text-uppercase fw-bold">Bài viết mới nhất</h2>
			</div>
			<div class="row">


				<div class="col-md-4" ng-repeat="item in list  | limitTo : 3:1">


					<div class="thumbnail-image  d-flex justify-content-center">

						<img src="/images/news-img/{{item.images}}" alt="images"
							style="object-fit: contain; width: 80%;">
					</div>
					<div class="content__news">
						<div class="content__news d-flex flex-column h-100">
							
							<div class="content__news-title">
								<h3 class="fw-bold text-uppercase new__title "
									style="justify-content: space-between;">{{item.titles}}</h3>
							</div>
						


								<div class="content__news-author px-2 py-1 mb-2 d-flex align-items-center">
									<p>{{item.users.user_names}}</p>
								</div>
								<div class="content__news-date my-3" style="font-size: 14px;">Ngày đăng: {{ getHourDiff(item) }} giờ trước - {{myDate|date:'dd/MM/yyyy'}}</div> 
						<!-- 	
							<div ng-if="getHourDiff(item) >25" class="content__news-date my-3" style="font-size: 14px;">Ngày đăng: {{ getHourDiff() }} giờ trước - {{myDate|date:'dd/MM/yyyy'}}</div>
				       		<div ng-if="getHourDiff(item) >10 " class="content__news-date my-3" style="font-size: 14px;">Ngày đăng: {{ getDayDiff() }} ngày trước - {{myDate|date:'dd/MM/yyyy'}}</div>
							 -->
							<div class="content__news-btn mt-2">
								<div class="content__news-btn">
									<a href="/user/news/details/{{item.id}}"
										class="btn btn-outline-dark text-uppercase">Xem thêm</a>
								</div>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div>

		</section>



	</main>


	 <!-- Footer Start -->
	<footer th:replace="/user/component/_footer :: _footer" ></footer>
	<!-- Footer End -->

	<!-- Link To Base JS -->
	<!-- <script src="/js/main.js"></script> -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
const triggerTabList = document.querySelectorAll('#myTabContent a')
triggerTabList.forEach(triggerEl => {
  const tabTrigger = new bootstrap.Tab(triggerEl)

  triggerEl.addEventListener('click', event => {
    event.preventDefault()
    tabTrigger.show()
  })
})

/*  const triggerEl = document.querySelector('#myTabContent a[data-bs-target="#news1"]')
bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name

const triggerFirstTabEl = document.querySelector('#myTabContent li:first-child a')
bootstrap.Tab.getInstance(triggerFirstTabEl).show() // Select first tab  */
</script>


	<script src="/js/app.js"></script>


</body>

</html>